---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Canned Caffeine</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<h1>The #1 Brand for Caffeine in a Can</h1>
		<h1>What is this?</h1>
		<h2>It's an Astro site.</h2>
		
		<p>I am working on the <a href="https://docs.astro.build/en/tutorial/0-introduction/">Astro tutorial</a>. How did you even find this?</p>
		<p>Deploying through Github+Netflify.</p>
	</body>
</html>
